*{
    box-sizing: border-box;
}
.header{
    border: solid;
    width:100%;
    height:25vh;
    box-sizing: border-box;
    

}
.purple-box{
    background-color: purple;
    width:4vh;
    height: 60%;
    margin-left: 10px;
    margin-top:30px;
    margin-bottom: 5px;
    display: inline-block;

}
.green-box{
    background-color: green;
    width:40vh;
    height:70%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
    display: inline-block;

    


}
.blue-circle{
    background-color: #b1c8ed;
    border-radius: 50%;
    display: inline-block;
    height:21vh;
    width:18vw;
    margin-left: 40px;
    margin-top: 10px;


}
.main-box{
    border:dotted;
    width:100%;
    height:30vh;
    margin:10px;
}
.yellow-box{
    background-color:#ede397;
    width:100%;
    height:200px;
    margin-top:20px;
    box-shadow: 10px 10px 5px 0px;
    
}
.last{
    align-content: center;
}
.footer-box{
    width:50%;
    height:30vh;
    margin: 5px 5px;

}
